
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to Faculty Management Application</h2>
<img src="~/App_Images/welcome.png" height="700" width="1150" alt="Backroud Image" />